body {
	font-family: monospace;
	background-color: #1f1c17;
	color: #e6e2db;
}

header h1{
	text-align: center;
	color: #fce563;
	font-weight: 1.25rem;
	width: 90%;
    max-width: 40rem;
    margin: 2rem auto;
    padding-bottom: 1.5rem;
    border-bottom: 2px solid #ccc;
}

ul {
	list-style: none;
	text-align: center;
  }
  
  li {
	margin: 0.5rem 0;
	color: #e9e2ba;
  }

  #functionsItem {
	position: relative;  /* This makes the child absolute position relative to this element */
  }

  #functionsContent {
	display: none;
	background-color: #333;
	color: #e9e2ba;
	border: 1px solid #fce563;
	padding: 1rem;
	position:absolute; /* Position relative to its nearest positioned ancestor */
	width: 300px;
	z-index: 100;
	left: 0; /*Align to the left of the parent element */
	top: 100%; /* Below the li element */
  }