* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
}

body {
	font-family: monospace;
	background-color: #1f1c17;
	color: #e6e2db;
}

header h1{
	text-align: center;
	color: #fce563;
	font-weight: 1.25rem;
	width: 90%;
    max-width: 40rem;
    margin: 2rem auto;
    padding-bottom: 1.5rem;
    border-bottom: 2px solid #ccc;
}

ul {
	list-style: none;
	text-align: center;
  }
  
  li {
	margin: 0.5rem 0;
	color: #e9e2ba;
  }

  #functionsItem {
	position: relative;  /* This makes the child absolute position relative to this element */
  }

  #functionsContent {
	display: none;
	position:absolute; /* Position relative to its nearest positioned ancestor */
	left:50%; /* Start from the middle of the parent */
	transform: translateX(-50%); /* Shift it back to the left by half of its own width to center it */
	width: 50%;
	background-color: #333;
	color: #e9e2ba;
	border: 1px solid #fce563;
	box-shadow: 0 4px 8px rgba(253, 248, 97, 0.745);
	padding: 2rem;
	z-index: 1000;
	top: 100%; /* Below the li element */
  }